################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Bank/.vs/Bank/v16
/src/Bank/Bank.Api/obj
/src/Bank/AccountsHost/bin/Debug
/src/Bank/AccountsHost/obj
/src/Bank/Bank.Api/bin/Debug/net5.0
/src/Bank/RabbitMQ.Core/obj
*.user
/src/Bank/.vs/Bank/DesignTimeBuild
/src/Bank/WithDrawalHost/bin/Debug/netcoreapp3.1
/src/Bank/WithDrawalHost/obj
/src/Bank/Bank.Sagas/bin/Debug/netstandard2.0
/src/Bank/Bank.Sagas/obj
